<!-- This section holds everything used in the second part of the story   -->

<section class='scroll'>
  <div class='scroll-container'>

    <div class='tap--back'>
          <img inline class='tap--back' src='arrow-up-circle.svg'>
    </div>

    <div class='step' data-step='1' id='first-scroll'>
      <!-- h1 class='section-title'>A Dictionary About "Ass"</h1> -->
      <p class='first-graf'>{{doc.scroll1}}</p>
    </div>
    <div class='step' data-step='2'>
    <p>{{doc.scroll2}}</p>
    </div>
    <div class='step' data-step='3'>
    <p>{{doc.scroll3}}</p>
    </div>
    <div class='step' data-step='4'>
      <p>{{doc.scroll4}}</p>
    </div>

    <div class='scroll__graphic' id='graphic1'>
      <h1 class='chart-title'>How Ismo Uses "Ass"</h1>
      <div class="step">
        <p>Here is Ismo&rsquo;s first mention of ass.</p>
      </div>
      <span class='usage-examples'>1. “The hardest word to master has been the word, ‘ass.’ I thought it’s really easy, it means ‘a butt.’”</span>
    </div>

    <div class='step' data-step='5'>
      <p>Ismo didn’t choose to analyze the word “ass” just because it’s funny to talk about butts. In fact, Ismo’s choice reflects a keen understanding of how slang operates.<br><br> While slang is used in many domains, it’s most widely used words revolve around a few major themes. “To sum them up as sex, drugs and, in its widest sense, rock ‘n’ roll wouldn’t be so far from the truth,” Green says. “Plus crime, drunkenness, insults, racism and a number of other of our less savoury but quite inescapable activities.” Which is to say, there is some less than savory language in the historical citations that are to follow, so please be advised that you may be offended by the history of slang.</p>
    </div>

    <div class='step' data-step='6'>
      <p>{{doc.scroll6}}</p>
    </div>

    <div class='scroll__graphic' id='graphic2'>
      <h1 class='chart-title'>Citations for Ass</h1>
      <span class='usage-examples'>1. “The hardest word to master has been the word, ‘ass.’ I thought it’s really easy, it means ‘a butt.’”</span>
    </div>
    <div class='step' data-step='7'>
      <p>{{doc.scroll7}}</p>
    </div>
    <div class='scroll__graphic' id='iceberg0'>
      <div id='overlay0' class='overlay' onclick='overlayOff(this.id)'></div>
      <h1 class='chart-title'>How Ismo Uses "Ass"</h1>
    </div>

    <div class='step' data-step='8'>
      <p>{{doc.scroll8}}</p>
    </div>

  </div>

</section>
