<!-- This section holds everything used in the second part of the story   -->

<section id='scroll'>
  <div class='scroll__graphic'>
    <h1 class='ass-label'>ass</h1>
  </div>
  <div class='scroll__text'>
    <div class='step' data-step='1'>
      <p>{{doc.scroll1}}</p>
    </div>
    <div class='step' data-step='2'>
      <p>{{doc.scroll2}}</p>
    </div>
    <div class='step' data-step='3'>
      <p>{{doc.scroll3}}</p>
      <!-- <img src='assets/images/caveman_presciptivist.png'>
      <span class='caption'>The Invention of Prescriptivism</span> -->
    </div>
    <div class='step' data-step='4'>
      <p>{{doc.scroll4}}</p>
    </div>
    <div class='step' data-step='5'>
      <p>{{doc.scroll5}}</p>
    </div>
    <div class='step' data-step='6'>
      <p>{{doc.scroll6}}</p>
    </div>
    <div class='step' data-step='7'>
      <p>{{doc.scroll7}}</p>
    </div>
    <div class='step' data-step='8'>
      <p>{{doc.scroll8}}</p>
    </div>
  </article>
</div>
</section>

