<!-- This section holds everything used in the second part of the story   -->

<section class='scroll'>
  <div class='scroll-container'>

    

    <div class='step' data-step='1' id='first-scroll'>
      <!-- h1 class='section-title'>A Dictionary About "Ass"</h1> -->
      <p class='first-graf'>{{{doc.scroll1}}}</p>
    </div>
    <div class='step' data-step='2'>
    <p>{{{doc.scroll2}}}</p>
    </div>
    <div class='step' data-step='3'>
    <p>{{{doc.scroll3}}}</p>
    </div>
    <div class='step' data-step='4'>
      <p>{{{doc.scroll4}}}</p>
    </div>
    <div class="step">
      <h1 class='chart-title'>How Ismo Uses &ldquo;Ass&rdquo;</h1>
    </div>

    <div class="step">
      <p>Here is Ismo&rsquo;s first mention of “ass” from his comedy routine:</p>
    </div>

    <div class='scroll__graphic' id='graphic1'>
      <span class='usage-examples'>“The hardest word to master has been the word, ‘ass.’ I thought it’s really easy, it means ‘a butt.’”</span>
    </div>

    <div class='step' data-step='5'>
      <p>{{{doc.scroll5}}}</p>
    </div>

    <div class='step' data-step='6'>
      <p>{{{doc.scroll6}}}</p>
    </div>

    <div class='scroll__graphic' id='graphic2'>
      <!-- <h1 class='chart-title'>Citations for Ass</h1> -->
      <p class="word-container">
        <span class="first">ass</span> <span class="sense-container"><i>noun</i> ; the buttocks, the anus</span>
      </p>
    </div>
    <div class='step' data-step='7'>
      <p>{{{doc.scroll7}}}</p>
    </div>
    <div class='scroll__graphic' id='iceberg0'>
      <div id='overlay0' class='overlay' onclick='overlayOff(this.id)'></div>
      <!-- <h1 class='chart-title'>How Ismo Uses "Ass"</h1> -->
    </div>

    <div class='step' data-step='8'>
      <p>{{{doc.scroll8}}}</p>
    </div>

  </div>

</section>
