<!-- This section holds everything used in the first part of the story   -->

<section class='stack'>
  <div class='stack__container'>
    
    <div class='chart' id='iceberg1'>
      <div class="left-shape" id='left-shape1'></div>
      <div class="right-shape" id='right-shape1'></div>
      <div id='overlay1' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{doc.stack1}}</p><br><br><p>{{doc.stack2}}</p></div>
    <div class='chart' id='iceberg2'>
      <div class="left-shape" id='left-shape2'></div>
      <div class="right-shape" id='right-shape2'></div>
      <div id='overlay2' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{doc.stack3}}</p></div>
    <div class='chart' id='iceberg3'>
      <div class="left-shape" id='left-shape3'></div>
      <div class="right-shape" id='right-shape3'></div>
      <div id='overlay3' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{doc.stack4}}</p></div>
    <div class='chart' id='iceberg4'>
      <div class="left-shape" id='left-shape4'></div>
      <div class="right-shape" id='right-shape4'></div>
      <div id='overlay4' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{doc.stack5}}</p></div>

  </div>

</section>