<!-- This section holds everything used in the first part of the story   -->

<section class='stack'>
  <div class='stack__container'>

    <h1 class='chart-title'>201 Ways to Use the Word "Ass"</h1>
    <div class='chart' id='iceberg1'>
      <div class="left-shape" id='left-shape1'></div>
      <div class="right-shape" id='right-shape1'></div>
      <div id='overlay1' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>

    <div class='prose'><p>{{{doc.stack1}}}</p><p>{{{doc.stack2}}}</p></div>

    <h1 class='chart-title'>146 Ways to Use the Word "Fuck"</h1>
    <div class='chart' id='iceberg2'>
      <div class="left-shape" id='left-shape2'></div>
      <div class="right-shape" id='right-shape2'></div>
      <div id='overlay2' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{{doc.stack3}}}</p></div>

    <h1 class='chart-title'>164 Ways to Use the Word "Dog"</h1>
    <div class='chart' id='iceberg3'>
      <div class="left-shape" id='left-shape3'></div>
      <div class="right-shape" id='right-shape3'></div>
      <div id='overlay3' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{{doc.stack4}}}</p></div>

    <h1 class='chart-title'>295 Ways to Use the Word "Shit"</h1>
    <div class='chart' id='iceberg4'>
      <div class="left-shape" id='left-shape4'></div>
      <div class="right-shape" id='right-shape4'></div>
      <div id='overlay4' class='overlay' onclick='overlayOff(this.id)'></div>
    </div>
    <div class='prose'><p>{{{doc.stack5}}}</p></div>

    <div class='prose acknowledgements'>
      <p>Data for this story was provided by Jonathon Green, author of <i><a href='https://greensdictofslang.com/'>Green's Dictionary of Slang</a></i>. Title art by <a href='https://www.instagram.com/teryn_joy/?hl=en'>Teryn Sampaga</a>.</p>
    </div>

  </div>

</section>