<!-- This section holds everything used in the first part of the story   -->

<section class='stepper'>

  <!-- Intro stuff lives here   -->
  <div class='stepper__intro step0'>
    <!-- <img class="iceberg" inline src='assberg_art_no_title_mobile-01.svg'> -->
    <div class="background-image">

    </div>
    <div class='logo'>
      <img inline src='/pudding/wordmark.svg'>
      <p>INVESTIGATES</p>
    </div>
    <div class="title-text">
      <h1 class='stepper__hed'>Is <span class='hed-highlight' id='hed-ass'>Ass</span> the Most Complicated Word in English?</h1>
      <div class='sound-warning'>(Turn your sound on!)</div>
        <p class='stepper__byline'>By
          <a href="https://pudding.cool/author/kevin-litman-navarro/"><strong>{{meta.author.name}}</strong></a>
        </p>
      <div class='tap--first'>
        <span>LOADING...</span>
      </div>
    </div>
  </div>

  <!-- All visuals live here   -->

  <div class='stepper__graphics'>

    <div class='stepper__video step0' >
    </div>

    <div class='stepper__video step1'>
      <span class='subtitle subtitle1'>I think the hardest word to truly master has been the word, "ass."</span>
      <video class='ismo step1' src='assets/videos/ismo_1.mp4' placeholder='assets/images/ismo_thumbnail.png' playsinline></video>
      <img class='ismo step1' src='assets/images/ismo_thumbnail.png'></img>
    </div>

    <div class='stepper__video step2'>
      <div class='pause-overlay'>
          <img inline src='pause-circle.svg'>
      </div>
    </div>

    <div class='stepper__video step3'>
      <video class='ismo step3' src='assets/videos/ismo_2.mp4' placeholder='assets/images/ismo_thumbnail.jpg' preload playsinline></video>
    </div>

    <div class='stepper__video step4'>
      <video class='ismo step4' src='assets/videos/ismo_3.mp4' placeholder='assets/images/ismo_thumbnail.jpg' preload playsinline></video>
    </div>

    <div class='stepper__video step5'>
      <video class='ismo step5' src='assets/videos/ismo_4.mp4' placeholder='assets/images/ismo_thumbnail.jpg' preload playsinline></video>
    </div>

    <div class='stepper__video step6'>
      <span class='subtitle subtitle6'>I've been trying to write a whole dictionary about just "ass."</span>
      <video class='ismo step6' src='assets/videos/ismo_5.mp4' placeholder='assets/images/ismo_thumbnail.jpg' preload playsinline></video>
    </div>

  </div>

  <!-- Forward and back buttons live here   -->

  <div class='stepper__tap'>
    <div class='tap tap--left'>
      <svg class='tap--left'>
        <g>
          <rect fill='#1B7EBE'></rect>
          <img inline src='arrow-left.svg'>
        </g>
      </svg>
    </div>

    <div class='tap tap--right'>
      <svg class='tap--right'>
        <g>
          <rect fill='#1B7EBE'></rect>
          <img inline src='arrow-right.svg'>
        </g>
      </svg>
    </div>

    <div class='tap tap--final'>
      <svg class='tap--final'>
        <g>
          <img inline src='arrow-down-circle.svg'>
        </g>
      </svg>
    </div>
  </div>

  <!-- Steps live here   -->

  <div class='stepper__steps'>

    <div id='video-annotation' class='stepper__annotation step1'>
      <span>{{{doc.step1}}}</span>
    </div>

    <div id='video-annotation' class='stepper__annotation step2'>
      <span>{{{doc.step2}}}</span>
    </div>

    <div id='video-annotation' class='stepper__annotation step3'>{{{doc.step3}}}</span>
    </div>

    <div id='video-annotation' class='stepper__annotation step4'>
      <span>{{{doc.step4}}}</span>
    </div>

    <div id='video-annotation' class='stepper__annotation step5'>
      <span>{{{doc.step5}}}</span>
    </div>

  </div>


</section>
